port {{redis.port}}
cluster-enabled yes
cluster-config-file nodes.conf
cluster-node-timeout 5000
appendonly no
supervised systemd
daemonize yes
dir {{ redis.data_dir }}
protected-mode no
pidfile /var/run/redis.pid
logfile {{ redis.log_dir }}/redis.log