# 安装 ruby 用于运行创建集群的 ruby 脚本
- name: install ruby runtime
  yum:
    name: "{{ item }}"
  with_items:
    - ruby
    - rubygems

# 安装 ruby reids 接口
- name: install ruby redis
  shell: gem install redis --version 3.3.0

# copy redis 二进制包
- name: copy redis binary files
  copy:
    src: "{{ item }}"
    dest: /usr/local/bin/
    mode: 755
  with_items:
    - redis-sentinel
    - redis-benchmark
    - redis-server
    - redis-trib.rb
    - mkreleasehdr.sh
    - redis-check-aof
    - redis-check-rdb
    - redis-cli

# copy systemd 启动脚本
- name: copy reids systemd unit file
  copy:
    src: redis.service
    dest: /usr/lib/systemd/system/
  notify: reload systemd

# copy redis 配置文件
- name: copy redis configure
  template:
    src: redis.conf.j2
    dest: /etc/redis.conf
  notify: restart redis

# 创建 redis 存储目录和日志目录
- name: create redir data dir
  file:
    path: "{{ item }}"
    state: directory
    mode: 750
  with_items:
    - "{{ redis.data_dir }}"
    - "{{ redis.log_dir }}"

# 启动 redis 服务
- name: start redis
  service:
    name: redis
    state: started
    enabled: true

# 创建 ruby 集群
- name: create redis cluster
  shell: echo yes | /usr/local/bin/redis-trib.rb create --replicas 1 \
    "{{ groups['redis-cluster'][0] }}:{{ redis.port }}" \
    "{{ groups['redis-cluster'][1] }}:{{ redis.port }}" \
    "{{ groups['redis-cluster'][2] }}:{{ redis.port }}" \
    "{{ groups['redis-cluster'][3] }}:{{ redis.port }}" \
    "{{ groups['redis-cluster'][4] }}:{{ redis.port }}" \
    "{{ groups['redis-cluster'][5] }}:{{ redis.port }}"
  run_once: true
  delegate_to: "{{ groups['redis-cluster'][0] }}"