global
    log         127.0.0.1 local2 

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats level admin

defaults
    mode                    tcp
    log                     global
    option                  tcplog
    option                  dontlognull
    #option http-server-close
    #option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 {{ haproxy.maxconn }}

listen mariadb-cluster
    bind 0.0.0.0:{{ haproxy.listenPort }}
    mode tcp
    option mysql-check user haproxy
    option tcplog
    balance leastconn


frontend mysql-gr-front_write
    bind *:3307
    mode tcp
    default_backend mysql-gr-back_write

backend mysql-gr-back_write
    mode tcp
    balance leastconn
    option httpchk
    {% for host in groups['lb'] %}
        server {{ host }} {{ host }}:3306 check port 6446 inter 1000 rise 1 fall 2  {%if%} }    
    {% endfor%}

    server mysql1 10.206.131.63:3306 check port 6446 inter 1000 rise 1 fall 2 on-marked-up shutdown-backup-sessions
    server mysql2 10.206.131.132:3306 check port 6446 inter 1000 rise 1 fall 2 backup
    server mysql3 10.206.131.156:3306 check port 6446 inter 1000 rise 1 fall 2 backup

frontend mysql-gr-front_read
    bind *:3308
    mode tcp
    default_backend mysql-gr-back_read

backend mysql-gr-back_read
    mode tcp
    balance leastconn
    option httpchk
    server mysql1 10.206.131.63:3306 check port 6447 inter 1000 rise 1 fall 2
    server mysql2 10.206.131.132:3306 check port 6447 inter 1000 rise 1 fall 2
    server mysql3 10.206.131.156:3306 check port 6447 inter 1000 rise 1 fall 2